<div class="sidebar-box">
  <ul>
    <li>
      <a href="#" class="active">
        <img src="assets/icons/recent.svg" />
        <span>recent</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/icons/heart.svg" />
        <span>favourite</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/icons/liked.svg" />
        <span>liked</span>
      </a>
    </li>
  </ul>
</div>

<div class="sidebar-box">
  <span class="box-title">trended tags:</span>
  <ul>
    <li>
      <a href="#">
        <span>tag 1</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>tag 2</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>tag 3</span>
      </a>
    </li>
  </ul>
</div>
