<app-spinner-loader [loading]="!feeds"></app-spinner-loader>

<div class="feeds-list" *ngIf="feeds" [@simpleFadeAnimation]="'in'">
  <section class="controls">
    <div class="limit">
      <label>Items per page:</label>
      <select
        [ngModel]="limit"
        (ngModelChange)="onChangeLimit($event)"
        name="limit"
        ngDefaultControl
      >
        <option [value]="i" *ngFor="let i of limits">{{ i }}</option>
      </select>
    </div>

    <div class="pagination">
      <button (click)="changePagination('before', feeds.after)">
        Previous
      </button>
      <button (click)="changePagination('after', feeds.after)">
        Next
      </button>
    </div>
  </section>

  <section class="feeds">
    <div
      *ngFor="let feed of feeds.children; trackBy: identify"
      class="feed-item"
    >
      <div class="feed-header">
        <div class="author">
          <img src="/assets/icons/author.svg" class="icon" alt="author" />
          <span>{{ feed.data.author }}</span>
        </div>
        <div class="calendar">
          <img src="/assets/icons/calendar.svg" class="icon" alt="calendar" />
          <span>{{ feed.data.created * 1000 | date: "dd/MM/yyyy" }}</span>
        </div>
      </div>
      <div class="feed-body">
        <a [routerLink]="['/feed', feed.data.id, slugTitle(feed.data.title)]">
          <h2 class="feed-title">
            {{ feed.data.title }}
          </h2>
          <figure *ngIf="feed.data.thumbnail != 'self'">
            <img src="{{ feed.data.thumbnail }}" alt="feed thumbnail" />
          </figure>
        </a>
      </div>
      <div class="feed-footer">
        <div class="score">
          <img src="/assets/icons/heart.svg" class="icon" alt="heart" />
          <span>{{ feed.data.score }}</span>
        </div>
        <div class="comments">
          <img src="/assets/icons/comments.svg" class="icon" alt="comments" />
          <span>{{ feed.data.num_comments }}</span>
        </div>

        <a
          class="link"
          target="_blank"
          rel="noopener"
          [attr.href]="baseURL + feed.data.permalink"
        >
          <img src="/assets/icons/link.svg" class="icon link" alt="link" />
        </a>
      </div>
    </div>
  </section>
</div>
