@import "../../../styles.scss";

:host {
  width: 100%;
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid $secondaryLight;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.logo {
  height: 50px;
  position: relative;
  top: -5px;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.8em;
  color: #1b9cfc;
}
