// variables
$primary: #1b9cfc;
$dark: #333333;
$secondaryDark: #2c3a47;
$light: #ffffff;
$secondaryLight: #efefef;

// fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.alert {
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;

  &.danger {
    background-color: #eb4d4b;
    color: $light;
  }
}
