// variables
$primary: #1b9cfc;
$dark: #333333;
$secondaryDark: #2c3a47;
$light: #ffffff;
$secondaryLight: #efefef;

// fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
